@inject IJSRuntime JS
@inject IAuthenticationManager AuthenticationManager

<AuthorizeView>
    <Authorized>
        <ul class="nav navbar-nav ml-auto">
            <li class="navbar-text">
            @context.User.Identity.Name
            </li>
            <li>
                <button class="btn btn-primary" @onclick="this.AuthenticationManager.SignOutAsync">Logout</button>
            </li>
        </ul>         
    </Authorized>
    <NotAuthorized>
        <ul class="nav navbar-nav ml-auto">
            <li>
                <button class="btn btn-primary" @onclick="@(e => this.AuthenticationManager.SignInAsync(this.Scopes))">Login</button>
            </li>
        </ul>
     
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string AdditionalScopes { get; set; }

    private string[] Scopes => this.AdditionalScopes?.Split(',');
}