@page "/"



<div class="jumbotron">
    <h1>Azure DevOps Resource Analyzer</h1>
    <AuthorizeView>
        <Authorized>
            <h3>Let's take a look at those Azure DevOps Resources!</h3>
        </Authorized>
        <NotAuthorized>
            <h3>Please Login to access the full functionality of this application</h3>
        </NotAuthorized>
    </AuthorizeView>
    
</div>
