@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="btn btn-outline-light  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @context.User.Identity.Name
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item btn btn-primary" href="user/Claims">Claims</a>
                <a class="dropdown-item btn btn-secondary" @onclick="BeginLogout">Log Out</a>
            </div>
           
        </div>
       
       
    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="authentication/login">
            Log in
        </NavLink>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}