@using azuredevopsresourceanalyzer.ui.blazor.Application.ViewModels
@if (Items == null || Items.Any())
{
    <table class="table-secondary">
        <thead>
        <tr>
            <th>Name</th>
            <th>Count</th>
            <th>Last</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ActivityCount</td>
                <td>@item.LastActivity?.ToString("M/d/yyy")</td>
            </tr>
        }
        </tbody>
    </table>
}
@code {
    [Parameter] public IEnumerable<ActivityItem<CommitDetail> Items { get; set; }
}
