@using azuredevopsresourceanalyzer.ui.blazor.Application.ViewModels
<a href="@Item.Url" target="_blank" class="text-reset">@Item.Name</a>

@code {
    [Parameter] public NavigableItem Item { get; set; }
}
