@using azuredevopsresourceanalyzer.ui.blazor.Application.ViewModels
<ul class="list-unstyled">
    @foreach (var contributor in Items)
    {
        <li>
            @contributor.Name
            <ul class="">
                @foreach (var type in contributor.ActivityDetails.Where(t => t.Visible))
                {
                <li>
                    <WorkItemTypeCountComponent Item="@type" />
                    &nbsp;&nbsp;
                    <span class="badge badge-pill badge-light" title="Median days from Active to Done">@type.Metrics?.ActiveToDoneDays?.ToString("N")</span>
                </li>
                }
            </ul>
        </li>
    }

</ul>
@code {
    [Parameter] public IEnumerable<ActivityItem<List<WorkItemTypeCount>>> Items { get; set; }
}
