@using azuredevopsresourceanalyzer.ui.blazor.Application.ViewModels
    <table class="table-secondary">
        <thead>
            <tr>
                <th>Work Item</th>
                <th>Inception to Agreed Upon</th>
                <th>Agreed Upon to Active</th>
                <th>Active to First Commit</th>
                <th>First Commit to Resolved</th>
                <th>Resolved to Done</th>
                <th>Agreed Upon to Done</th>
                <th>End to End</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Features</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>

            <tr>
                <td>User Stories</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Defects</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>

        </tbody>
    </table>
@code {
    [Parameter] public object Items { get; set; }
}
