@using azuredevopsresourceanalyzer.ui.blazor.Application.ViewModels
@if (Releases != null && Releases.Any())
{
    <ul class="list-unstyled">
        @foreach (var item in Releases)
        {
            <li>
                <NavigableItemComponent Item="@item.ReleaseDefinition" />
                @if (item.LastProductionRelease != null)
                {
                    <a href="@item.LastProductionRelease.Url" class="badge badge-primary" target="_blank" title="Last deployed with release @item.LastProductionRelease.Name" >@item.DeployedAt?.ToString("M/d/yyyy")</a>
                }

            </li>
        }
    </ul>
}
@code {
    [Parameter] public IEnumerable<ReleaseSummary> Releases { get; set; }
}
